@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background:rgba(255, 255, 255, 0.757);
    margin: 0;
    padding: 0;
    height:190vh ;
    width:100%;
}
:root{
    --color1 :rgb(11, 126, 69);
    --color2 :#B8F2E6 ;
    --color3 :#FF66D8 ;
    --color4 :#1F1A38 ;
    --color5 :rgb(4, 44, 4);

}
.hero{
	display: flex; 
	align-items: center;
	justify-content: center;
}  
label.logoo{
    color: whitesmoke;
    font-size: 30px;
    line-height: 70px;
    font-weight: bold;
    margin-right: 1100px;
}
.header h1{
    font-family: 'Edu SA Beginner', cursive;
    color: var(--color5);
    font-size: 50px;
    }
    .hero{

        font-family: 'Edu SA Beginner', cursive;
        position: relative;
        padding: 0 5%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: auto;
    }
    .content{
        position: relative;
        z-index: 10 ;
        text-align: center;
    }   
    .content h2{
        margin-top: -8px;
        font-size: 60px;
        color: var(--color5);
        font-weight: 40;
        transition: 0.3s;
    }
    .content p{
        font-family: 'Shadows Into Light', cursive;
        text-decoration: none;
        display: inline-block;
        color:var(--color4);
        font-size: 50px;
        padding: 14px 70px;
        border-radius: 50px;
        margin-top: 20px ;
    }
    .logo{
        font-family: 'Shadows Into Light', cursive;
        text-transform: uppercase;
        margin-left:250px ;
        color: var(--color4);
        font-size: 60px;
        font-weight: 900;
        letter-spacing: 1px;
        cursor: pointer; 
    }
    span{
        color: var(--color5);
        
    }   
    .content li {
        font-size: 40px;
        color: var(--color4);
    } 
