:root{
    --color1 :  rgb(11, 126, 69);
    --color2 :#FFF ;
    --color3 :#FF66D8 ;
    --color4 :#000000;

}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
.menu_bar{
    height: 80px;
    background: var(--color1);
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
}
.logo{
    margin-top: 25px;
    color: var(--color2);
    font-size: 30px;
}
.logo2{
    margin-top: 10px;
    margin-left: -230px;
}
.logo span{
    color: var(--color4);
}
.menu_bar ul{
    display: flex;
    list-style: none;
}
.menu_bar ul li{
    margin-top: 20px;
    padding: 10px 30px;
    position: relative;
}
.menu_bar ul li a{
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: var(--color2);
    transition: all 0.3s;
}
.menu_bar ul li a:hover{
    color: var(--color4);
    font-size: 25px;
    font-weight: 600;
}
.dropdown_menu{
    display: none;
}
.dropdown_menu ul li a {
    color: var(--color4);
    font-size: 30px;
    font-weight: 600;
}
.dropdown_menu ul li a:hover{
    font-weight: 800;
    font-size: 35px;
}
.menu_bar ul li:hover .dropdown_menu{
    display: block;
    position: absolute;
    left: 0;
    margin-left: 50px ;
    top: 100%;
    width: 230px;
}
.menu_bar ul li:hover .dropdown_menu ul{
    display: block;
    margin: 20px;
}
.menu_bar ul li:hover .dropdown_menu ul li{
    width: 200px;
    padding: 10px;
}

.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
    background: rgb(11, 126, 69) ;
	border-radius: 4px;
	padding: 10px;
    width :800px;
    font-size: 22px;
    font-weight: 600;
    color: black;
    margin-left: 400px;
    margin-top: 80px;
}
.box-element a{
    color: white;
    font-size: 22px;
    font-style: bold;
    font-weight: 800px;
}

.thumbnail{
	width: 100%;
	height: 200px;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}

.product{
	border-radius: 0 0 4px 4px;
}
.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}

.btn{
	border-radius: 0;
}
.row-image{
	width: 100px;
}

.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}

.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}

.quantity{
	display: inline-block;
	font-weight: 600;
    font-size: 22px;
	padding-right:10px;
    margin-top: -50px;
}

.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}
.hidden{
	display: none!important;
}

.table h3{
    color: black;
    font-size: 25px;
    font-weight: 600;
}

.table h5 {
    color: black;
    font-size: 22px;
    font-weight: 400;
}