@import url('https://fonts.googleapis.com/css2?family=Phudu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');
:root{
    --color1 :  rgb(11, 126, 69);
    --color2 :#FFF ;
    --color3 :#FF66D8 ;
    --color4 :#000000;

}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
.menu_bar{
    height: 80px;
    background: var(--color1);
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
}
.logo{
    margin-top: 25px;
    color: var(--color2);
    font-size: 30px;
}
.logo2{
    margin-top: 10px;
    margin-left: -215px;
}
.logo span{
    color: var(--color4);
}
.menu_bar ul{
    display: flex;
    list-style: none;
}
.menu_bar ul li{
    margin-top: 20px;
    padding: 10px 30px;
    position: relative;
}
.menu_bar ul li a{
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: var(--color2);
    transition: all 0.3s;
}
.menu_bar ul li a:hover{
    color: var(--color4);
    font-size: 25px;
    font-weight: 600;
}
.dropdown_menu{
    display: none;
}
.dropdown_menu ul li a {
    font-family: 'Phudu', cursive;
    color: var(--color4);
    font-size: 20px;
    font-weight: 600;
}
.dropdown_menu ul li a:hover{
    font-weight: 800;
    font-size: 25px;
}
.menu_bar ul li:hover .dropdown_menu{
    display: block;
    position: absolute;
    left: 0;
    margin-left: 50px ;
    top: 100%;
    width: 230px;
}
.menu_bar ul li:hover .dropdown_menu ul{
    display: block;
    margin: 20px;
}
.menu_bar ul li:hover .dropdown_menu ul li{
    width: 200px;
    padding: 10px;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.rating-wrapper{
    max-width: 63%;
    margin-left: 30px;
    margin-top: 50px;
    background-image: linear-gradient(to right , rgb(7, 91, 35) ,rgb(51, 200, 125));
    padding: 50px;
    border-radius: 5px;
    box-shadow: 8px 10px 5px var(--color4);
    height:auto;
}
.rating-wrapper h1{
    text-align: center;
    font-weight: 800;
    font-size: 30px;
    display: block;
    color: var(--color2);  
    font-family: 'Phudu', cursive;
}
h4{
    margin-left:120px ;
    margin-top: 50px;
    font-size: 40px;
    font-weight: 600;
    color: var(--color1);
    font-family: 'Phudu', cursive;
}
.first-label{
    font-weight: 600;
    font-size: 25px;
    font-family: 'Phudu', cursive;
}
h2{
    margin-top: -35px;
    font-size: 30px;
    font-weight: 700;
    margin-left: 490px;
    color: var(--color2);
    
}
.second-label{
    font-weight: 600;
    font-size: 25px;
    font-family: 'Phudu', cursive;
}
h3{
    margin-top: -30px;
    font-size: 25px;
    font-weight: 600;
    margin-left: 150px;
    color: var(--color2);
}
button{
    margin-top: 80px;
    color: var(--color2);
    background-color: var(--color4);
    border-radius: 11px;
    border: 0;
    padding: 15px 18px;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Phudu', cursive;
}

button:hover{
    background-color: var(--color2);
    color: var(--color1);
    text-transform: uppercase;
    text-decoration: underline;
    font-family: 'Phudu', cursive;
    font-size: 30px;
    font-weight: 800;
}

button.not-disabled{
    color: var(--color4);
    background-color: var(--color2);
    cursor: pointer;
    font-family: 'Phudu', cursive;
    font-size: 25px;
    font-weight: 600;
}

button.not-disabled:hover{
    background-color: var(--color2);
    transition: all 0.5s 0.1s;
    font-family: 'Phudu', cursive;
    font-size: 30px;
    font-weight: 800;
}
::placeholder{
    color: black;
    font-size: 20px;
    font-weight: 800;
    font-family: 'Phudu', cursive;
} 
.feedback input[type="text"]{
    margin-top: 10px;
    height: 50px;
    font-size: 20px;
    font-weight:900;
    font-family: 'Phudu', cursive;
}