@import url('https://fonts.googleapis.com/css2?family=Phudu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');
:root{
    --color1 :  rgb(11, 126, 69);
    --color2 :#FFF ;
    --color3 :#FF66D8 ;
    --color4 :#000000;
    --color5 :rgb(4, 44, 4);

}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
.menu_bar{
    height: 80px;
    background: var(--color1);
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
}
.logo{
    margin-top: 25px;
    color: var(--color2);
    font-size: 30px;
}
.logo2{
    margin-top: 10px;
    margin-right: 1500px;
}
.logo span{
    color: var(--color4);
}

.center h2{
    font-family: 'Phudu', cursive;
    margin-top: 10px;
    margin-left: 550px;
    font-size: 60px;
    font-weight: 800;
    color: var(--color1);
}
.form{
    max-width: 65%;
    margin-left: 300px;
    margin-top: 50px;
    background-image: linear-gradient(to right , rgb(7, 91, 35) ,rgb(51, 200, 125));
    padding: 50px;
    border-radius: 5px;
    box-shadow: 8px 10px 5px var(--color4);
    height:auto;
}

.form label{
    font-family: 'Phudu', cursive;
    font-weight: 800;
    color: var(--color2);
    font-size: 30px;
}

.form input{
    margin-left: 20px;
    margin-top: -15px;
    border-radius: 5px;
    height: 40px;
    font-size: 20px;
    font-weight: 600;
}

.form ul{
    font-family: 'Phudu', cursive;
    padding: 20px;
    font-size: 25px;
    font-weight: 600;
    list-style:none;
}

.form ul li{
    margin-bottom: 15px;
}

.form .password-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    color: var(--color5);
    background-color: var(--color2);
    border: none;
    width: 150px;
    padding: 12px 16px;
    font-size: 20px;
    font-weight: 800;
    gap: 10px;
    margin-top: 10px;
    margin-left: 800px;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0px 0px 3px rgba(12, 236, 244, 0.858), 0px 2px 3px rgb(16, 227, 185);
  }
  
  .form .password-submit:hover {
    background-color: var(--color4);
    color: var(--color1);
    font-weight: 800;
    font-size: 25px;
  }

.form .cancel {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    color: var(--color5);
    background-color: var(--color2);
    border: none;
    width: 150px;
    padding: 12px 16px;
    font-size: 20px;
    font-weight: 800;
    gap: 10px;
    margin-top: -53px;
    margin-left: 640px;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0px 0px 3px rgba(12, 236, 244, 0.858), 0px 2px 3px rgb(16, 227, 185);
  } 
  
  .form .cancel:hover {
    background-color: var(--color4);
    color: var(--color1);
    font-weight: 800;
    font-size: 25px;
  }
  .form .cancel a{
    text-decoration: none;
    color: var(--color5);
  }

  .form .cancel a:hover{
    text-decoration: none;
    color: var(--color1);
  }
/* 
.cancel {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    color: var(--color5);
    background-color: var(--color2);
    border: none;
    width: 150px;
    padding: 12px 16px;
    font-size: 20px;
    font-weight: 800;
    gap: 10px;
    margin-top: -53px;
    margin-left: 640px;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0px 0px 3px rgba(12, 236, 244, 0.858), 0px 2px 3px rgb(16, 227, 185);
} 
.cancel:hover {
    background-color: var(--color4);
    color: var(--color1);
    font-weight: 800;
    font-size: 25px;
}
.cancel a{
    color: var(--color5);
    font-size: 20px;
}
.cancel a:hover{
    color: var(--color1);
    font-size: 25px;
} */