@import url('https://fonts.googleapis.com/css2?family=Phudu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');
:root{
    --color1 :  rgb(11, 126, 69);
    --color2 :#FFF ;
    --color3 :#FF66D8 ;
    --color4 :#000000;
    --color5 :rgb(4, 44, 4);

}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
.menu_bar{
    height: 80px;
    background: var(--color1);
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
}
.logo{
    margin-top: 25px;
    color: var(--color2);
    font-size: 30px;
}
.logo2{
    margin-top: 10px;
    margin-right: 1500px;
}
.logo span{
    color: var(--color4);
}
.form-container {
    margin-left: 600px;
    margin-top: 200px;
    max-width: 400px;
    background-color: var(--color1);
    padding: 32px 24px;
    font-size: 20px;
    font-weight: 600;
    font-family: inherit;
    color: var(--color2);
    display: flex;
    flex-direction: column;
    gap: 30px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 0px 3px rgb(56, 193, 15), 0px 2px 3px rgb(8, 186, 40);
  }
  
  .form-container button:active {
    scale: 0.95;
  }
  
  .form-container .logo-container {
    text-align: center;
    font-weight: 800;
    font-size: 40px;
    font-family: 'Phudu', cursive;
  }
  
  .form-container .form {
    display: flex;
    flex-direction: column;
  }
  
  .form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .form-container .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-container .form-group input {
    width: 100%;
    padding: 12px 16px;
    border-radius: 6px;
    font-family: inherit;
    font-size: 20px;
    font-weight: 600;
    border: 0.5px solid var(--color5);
    text-transform: none;
  }
  
  .form-container .form-group input::placeholder {
    opacity: 1;
    color: var(--color4);
    font-family: 'Phudu', cursive;
  }
  
  .form-container .form-group input:focus {
    outline: none;
    border-color: var(--color5)
  }
  
  .form-container .form-submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    color: var(--color5);
    background-color: var(--color2);
    border: none;
    width: 100%;
    padding: 12px 16px;
    font-size: 20px;
    font-weight: 600;
    gap: 10px;
    margin: 12px 0;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 3px 5px 8px rgb(4, 44, 4), 5px 7px 10px rgb(16, 227, 185);
  }
  
  .form-container .form-submit-btn:hover {
    background-color: var(--color4);
    color: var(--color1);
    font-weight: 800;
  }
  
.cancel {
    border-radius: 5px;
    width: 130px;
    background: var(--color4);
    font-weight: 800;
} 
.cancel:hover {
    background-color: var(--color2);
}
.cancel a{
    color: var(--color1);
    font-size: 25px;
}
.cancel a:hover{
    color: var(--color5);
}
  

