*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background:white;
}
.hero{
	display: flex; 
	align-items: center;
	justify-content: center;
}  
.img{
margin-left: 900px;
margin-top: 200px;
}