<!DOCTYPE html>
<html lang="en" dir="ltr">
 
    <head>
        <meta charset="UTF-8">
        <title>Green Gate Website</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        {% load static%}
        <link rel="stylesheet" href="{% static 'css/cart200.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    </head>
    <body>
    <div class="menu_bar">
        <h1 class="logo">Green<span>Gate</span><h2 class="logo2"><img src="{% static 'images/shopping-cart.png' %}"></h2></h1>
    <ul>
    <li class="active"><a href=""><i class="fa fa-shopping-cart" aria-hidden="true"></i> Green Gate</a></li>
    <li><a href={% url 'about2'%} "About2.html"><i class="fa fa-building" aria-hidden="true"></i> About Green Gate</a></li>
    <li><a href="#">Green Gate's Help </a></li>
    <li><a href="#"><i class="fa fa-users" aria-hidden="true"></i> Account Actions <i class="fas fa-caret-down"></i></a>
        <div class="dropdown_menu">
            <ul>
                <li><a href={% url 'home'%} "index.html">Logout</a></li>
            </ul>
        </div>
    </li>
    </ul>
    </div>
<br><br>
<div class="row">
    <div class="col-lg-12">
        <div class="box-element">
            <a class="btn-btn-outline-dark" href="{% url 'store' %}">&#x2190; Continue Shoping</a>
                
                <br>
                <br>
                <table class="table">
					<tr>
						<th><h5>Items: <strong>1</strong></h5></th>
						<th><h5>Total:<strong>R40</strong></h5></th>
						<th>
							<a  style="float:right; margin:5px;" class="btn btn-dark" href="{% url 'checkout' %}">Checkout</a>
						</th>
					</tr>
				</table>                

            </div>        

        <br>

        <div class="box-element">
            <div class="cart-row">
                <div style="flex:2"></div> 
                <div style="flex:2"><strong>Item</strong></div>
                <div style="flex:1"><strong>Price</strong></div>
                <div style="flex:1"><strong>Quanitity</strong></div>
                <div style="flex:1"><strong>Total</strong></div>
            </div> 

            
        <div class="cart-row">
            <div style="flex:2"><img class="row-image"src="{% static 'images/placeholder.jpg' %}"></div> 
            <div style="flex:2"><p>Product 1</p></div>
            <div style="flex:1"><p>$20</p></div>
            <div style="flex:1">
                <p class="quantity">x2</p>
                <div class="quantity">
                    <img class="chg-quantity update-cart" src="{% static  'images/arrow-up.png' %}">
            
                    <img class="chg-quantity update-cart" src="{% static  'images/arrow-down.png' %}">
                </div>
        </div>
        <div style="flex:1"><p>$40</p></div>
    </div>
</div>
</dib>
        </body>
           </html>