{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Green Gate Website</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'store4.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  </head>
  <body>
  <nav class="navbar navbar-dark bg-success text-bg-info p-4">
    <div class="container-fluid">
      <a class="navbar-brand" <a href={% url 'cart'%} "Cart.html">Green Gate<label class="logo"><img src="{% static 'carts (1).png' %}"<p id="cart-total">  0</p></label></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

           <li class="nav-item">
            <a class="nav-link" href={% url 'about'%} "About.html">About Green Gate</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href={% url 'contact'%} "Contact.html">Contact Green Gate</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              More options
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href={% url 'help'%} "Help.html">Help</a></li>
              <li><a class="dropdown-item" href={% url 'login'%} "Login.html">Login</a></li>
              <li><a class="dropdown-item" href={% url 'register'%} "Signup.html">Register</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href={% url 'home'%} "index.html">Logout</a></li>
            </ul>
          </li>
        </ul>

        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script> 
</body>
<br><br><br>
<div class="headers">
  <center><h1>Green Gate's Products Available for Purchase</h1></center>
 
  <div class="content1">
    <center><h3>Green Gate's Products</h3></center>
    <br><br><br>
  <div class="row">
    {% for product in products %}
    <div class="col-lg-4">
    <img class="thumbnail" src="{% static 'placeholder.jpg' %}">
    <div class="box-element products">
      <br>
      <h2><strong>{{product.name}}</strong></h2>
      <hr>
           
      <button class="btn btn-outline-dark add-btn">Add to Cart</button>
      <a class="btn btn-outline-success" href="#">View</a>
      <h4 style="display: line-block; float: right"><strong>${{product.price|floatformat:2}}</strong></h4>

    </div> 
  </div>
  {% endfor %}
</div>




  {% comment %} <div class="col-lg-4">
    <img class="thumbnail" src="{% static 'placeholder.jpg' %}">
    <div class="box-element product">
      <br>
      <h2><strong>Our Product Available</strong></h2>
      <hr>
  
      <button class="btn btn-outline-dark add-btn">Add to Cart</button>
      <a class="btn btn-outline-success" href="#">View</a>
      <h4 style="display: line-block; float: right"><strong>$20</strong></h4>
    </div>
  </div>


  <div class="col-lg-4">
    <div class="box-element product">
      <img class="thumbnail" src="{% static 'placeholder.jpg' %}">
      <br><br>
      <h2><strong>Our Product Available</strong></h2>
      <hr>
           
      <button class="btn btn-outline-dark add-btn">Add to Cart</button>
      <a class="btn btn-outline-success" href="#">View</a>
      <h4 style="display: line-block; float: right"><strong>$20</strong></h4>
    </div>
</div>

<div class="content2">
  <center><h3>Green Gate's Beverage Products</h3></center>
  <br><br><br>
<div class="row">
  <div class="col-lg-4">
  <img class="thumbnail" src="{% static 'placeholder.jpg' %}">
  <div class="box-element products">
    <br>
    <h2><strong>Our Product Available</strong></h2>
    <hr>
         
    <button class="btn btn-outline-dark add-btn">Add to Cart</button>
    <a class="btn btn-outline-success" href="#">View</a>
    <h4 style="display: line-block; float: right"><strong>$20</strong></h4>

  </div> 
</div>

<div class="col-lg-4">
  <img class="thumbnail" src="{% static 'placeholder.jpg' %}">
  <div class="box-element product">
    <br>
    <h2><strong>Our Product Available</strong></h2>
    <hr>

    <button class="btn btn-outline-dark add-btn">Add to Cart</button>
    <a class="btn btn-outline-success" href="#">View</a>
    <h4 style="display: line-block; float: right"><strong>$20</strong></h4>
  </div>
</div>


<div class="col-lg-4">
  <div class="box-element product">
    <img class="thumbnail" src="{% static 'placeholder.jpg' %}">
    <br><br>
    <h2><strong>Our Product Available</strong></h2>
    <hr>
         
    <button class="btn btn-outline-dark add-btn">Add to Cart</button>
    <a class="btn btn-outline-success" href="#">View</a>
    <h4 style="display: line-block; float: right"><strong>$20</strong></h4>
</div>
</div> {% endcomment %}





</html>